body {
    padding-top: 50px;
}
.navbar-brand {
    padding: 0px !important;
}
.navbar-brand > img {
    height: 100%;
    padding: 0 10px;
    width: auto;
}
/*.navbar-form {
    width: 90% !important;
}
.navbar-form .form-group,
.navbar-form .form-group .input-group {
    width: 100% !important;
}
.navbar-form .input-group-addon {
    width: 5% !important;
    padding: 0;
}
.navbar-form .input-group-addon button {
    line-height: 1;
    background-color: #eeeeee;
}*/

.panel-table .panel-body{
    padding:0;
  }
  
  .panel-table .panel-body .table-bordered{
    border-style: none;
    margin:0;
  }
  
  .panel-table .panel-body .table-bordered > thead > tr > th:first-of-type {
      text-align:center;
      width: 100px;
  }
  
  .panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
  .panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
    border-right: 0px;
  }
  
  .panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
  .panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
    border-left: 0px;
  }
  
  .panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td{
    border-bottom: 0px;
  }
  
  .panel-table .panel-body .table-bordered > thead > tr:first-of-type > th{
    border-top: 0px;
  }
  
  .panel-table .panel-footer .pagination{
    margin:0; 
  }
  
  /*
  used to vertically center elements, may need modification if you're not using default sizes.
  */
  .panel-table .panel-footer .col{
   line-height: 34px;
   height: 34px;
  }
  
  .panel-table .panel-heading .col h3{
   line-height: 30px;
   height: 30px;
  }
  
  .panel-table .panel-body .table-bordered > tbody > tr > td{
    line-height: 34px;
  }
  
.oa-modal {
    width: 90% !important;
}
.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}
.embed-responsive-16by9 {
    padding-bottom: 39%;
}
.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

h2.titleTotal { 
    margin: 10px 0;
    border-right: 2px solid #636b6f;
    color: #343a40!important;
}

.text-secondary {
    color: #6c757d!important;
}

.current-page {
    margin: 10px 0;
}

.navbar-default {
    background-color: #63A3CC!important;
    border-color: #475677!important;
}
.box-loading {
    height: 80px;
    display: block;
    margin: 5px auto;
    padding: 5px;
    position: relative;
}
.loading {
    position: relative;
    display: block;
    margin: 5px auto;
    height: 50px;
    width: 50px;
}
.loader{
	position: absolute;
	height:50px;
	width: 50px; 
	border:8px solid transparent;
	border-top:8px solid #63A3CC;
	border-bottom:8px solid #63A3CC;
	border-radius: 50%;
	animation: spin_4 2s linear infinite;
}
@keyframes spin_4{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}
.antiLoader{
	position: absolute;
	left:10px;
	top:10px;
	height: 30px;
	width: 30px;
	border:8px solid transparent;
	border-left:8px solid #63A3CC;
	border-right:8px solid #63A3CC;
	border-radius: 50%;
	animation: spin_5 2s linear infinite reverse;
}
@keyframes spin_5{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}
footer p {
    text-align: center;
}

#listOas > thead > tr > .number,
#listOas > tbody > tr > .number {
    text-align: center;
    width: 8%;
    min-width: 25px;
}

#listOas > thead > tr > .category,
#listOas > tbody > tr > .category {
    text-align: center;
    min-width: 60px;
    width: 19%;
}

#listOas > thead > tr > .name,
#listOas > tbody > tr > .name {
    width: 60%;
}

#listOas > thead > tr > .size,
#listOas > tbody > tr > .size {
    text-align: center;
    width: 10%;
    min-width: 60px;
}

#listOas > thead > tr > .action,
#listOas > tbody > tr > .action {
    text-align: center;
    min-width: 55px;
    width: 5%;
}

#listOas > tbody > tr > td { 
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}

.pagination {
    padding-left: 0;
    margin: 10px 0 !important;
    border-radius: 4px;
    float: right;
}
.h4-filter {
    margin: 0 !important;
}

.labelCantidad {
    margin: 10px 0 !important;
    vertical-align: middle;
    line-height: 2;
    padding-right: 0;
    text-align: right;
}
.selectCantidad {
    margin: 10px 0 !important;
}